<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <!--           default-autowire="byName">-->

    <!--    当又想使用注解方式加载bean，同时又想使用xml文件配置bean的方式加载Bean时，注意这两个中定义不能同时在同一个文件当中，
    可以分别定义在不同的xml中-->
    <context:component-scan base-package="bean_test.bean_context"/>
    <context:component-scan base-package="bean_test.multi_bean"/>
    <context:component-scan base-package="bean_test.bean_in_code"/>

    <context:component-scan base-package="bean_test.bean_load_resfiles"/>
    <context:property-placeholder location="classpath:config.properties"/>

    <context:component-scan base-package="bean_test.spring_support_jsr"/>
<!--   TODO 基于范型的自动装配没有成功！！！-->
<!--    <context:component-scan base-package="bean_test.genericity_autowired"/>-->
</beans>
